<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="{% static "css/mystyle.css" %}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="navbar-brand"><a href="#">BRAND</a></li>
        <li><a class="navbar-link" href="{% url 'first_app:signup' %}">SIGNUP</a></li>
        <li><a class="navbar-link" href="{% url 'first_app:index' %}">INDEX</a></li>
        <li><a class="navbar-link" href="{% url 'first_app:formpage' %}">FORMPAGE</a></li>
        <li><a class="navbar-link" href="{% url 'first_app:register' %}">REGISTER</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    {% block body_block %}
    {% endblock %}
  </div>
</body>
