<!DOCTYPE html>
{% extends "first_app/base.html" %}
{% block body_block %}
<body>
  <h1>Fill out the form</h1>
  <div class="container">
    <form method="POST">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="submit" class="btn btn-primary" value="Submit">
  </form>
  </div>
{% endblock %}
