<!DOCTYPE html>
{% extends "first_app/base.html" %}
{% block body_block %}
  <h1>Hi Welcome</h1>
  <h2>Here are you access records</h2>
  <a href="{% url 'first_app:signup' %}">Sign Up</a>
  <div class="djangotwo">
    {% if access_records %}
    <table>
      <thead>
        <th>Site Name</th>
        <th> Date Accessed</th>
      </thead>
      {% for acc in access_records %}
      <tr>
        <td>{{ acc.name }}</td>
        <td>{{ acc.date }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>No Access Records</p>
    {% endif%}

  </div>
{% endblock %}
