<!DOCTYPE html>
{% extends "first_app/base.html" %}
{% block body_block %}
  <div class="jumbotron">
    <h1>Please Login</h1>
    <form action="{% usrl 'first_app:login'%}" method='POST'>
      {% csrf_token %}
      <label for="username">Username:</label>
          <input type="text" name="username" placeholder="Username">

          <label for="password"></label>
          <input type="password" name="password">

          <input type="submit" name="" value="Login">
    </form>
  </div>
{% endblock %}
