<!DOCTYPE html>
{% extends "first_app/base.html" %}
{% block body_block %}
  <div class="jumbotron">
    {% if registered %}
    <h1>Thank you for registring</h1>
    {% else %}
    <h1>Register Here</h1>
    <h3>Fill put the form</h3>

    <form method="POST" enctype="multipart/form-data">
      {{ user_form.as_p }}
      {{ profile_form.as_p }}
      {% csrf_token %}
      <input type="submit" class="btn btn-primary" value="Register">
    </form>
    {% endif %}

  </div>
  <div class="container">
    <a href="{% url 'first_app:index' %}" >Home Page</a>
  </div>
{% endblock %}
