<!DOCTYPE html>
{% extends "first_app/base.html" %}
{% block body_block %}
  <div class="container"
    <h1>Sign Up!</h1>
    <form method="POST">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="submit" class="btn btn-primary" value="Submit">
    </form>
  </div>
  <div class="container">
    <a href="{% url 'first_app:index' %}" >Home Page</a>
  </div>
{% endblock %}
